
@media (max-width: 600px){
    nav .homeIcon{
        color: white;
        text-shadow: 5px 4px 12px  black;
        font-size: 3.2rem;
    }
    .main_container{
        margin: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: hidden;
    }
    .loginImage{
        display: none;
    }
    .mobileImage{
        position: absolute;
        z-index: -1;
        width: 100vw;
        height: 100vh;
    }
    .mobileImage{
        display: block;
    }

    main .loginForm{
        margin: 0 auto;

    }
}